.productCommentP {
  margin-left: 45%;
  /* margin-bottom: 50px; */
  margin-top: 50px;
}

.commentList {
  width: 100%;
  margin: auto;
  display: flex;

  justify-content: center;
  flex-direction: column;
}

.commentItem {
  list-style: none;
  border-bottom: 2px solid aqua;
  margin-bottom: 20px;
  display: flex;
  padding-left: 50px;
  width: auto;
  height: auto;
  font-size: 40px;
  justify-content: space-between;
}
.productComment__Box {
  z-index: 5;
  background-color: rgb(18 18 19);
}
.productComment__btn {
  border: none;
}
.comment__p {
  display: flex;
  align-items: center;
  width: 15%;
}
.comment__p > p {
  margin: 0;
  font-size: 18px;
}
