.sidebar__main {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: whitesmoke;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 50px;
  color: black;
}

/* .sidebar_box {
    height: ;
  } */

.sidebar__main a:hover {
  color: aqua;
}

.sidebar__main .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  color: white;
  border: none;
  background-color: rgb(18 18 19);
  color: white;
  font-size: 10px;
}

#main {
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 20px;
  background: transparent;
  transition: margin-left 0.5s;
  padding: 10px;
}
#main:hover {
  transition: border 0.6s ease-in-out;
  border: 1px solid aqua;
}

/* На небольших экранах, где высота меньше 450px, измените стиль sidenav (меньше отступов и меньший размер шрифта) */
@media screen and (max-height: 450px) {
  .sidebar__main {
    padding-top: 15px;
  }
  .sidebar__main a {
    font-size: 18px;
  }
}

.box__cart {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid gray;
}
.box__cart > img {
  width: 20%;
}

.cart__button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid black;
  border-radius: 50px;
  overflow: hidden;
  margin-top: 50px;
  height: 30px;
  width: 100px;
}
.cart__button > button {
  border: none;
  cursor: pointer;
}

.cart__button > p {
  margin: 0;
}

.cart__title > h3 {
  color: aqua;
}

.cart__title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
}

.total__box {
  width: 405px;
  height: 80px;
  position: relative;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: gray;
}
.total__box > h4 {
  font-size: 25px;
}
.total__box > button {
  height: 30px;
  width: 90%;
  border-radius: 50px;
  background-color: aqua;
  font-size: 20px;
  cursor: pointer;
  border: none;
  transition: border 1s ease-in-out;
}
.total__box > button:hover {
  border: 2px solid rgb(11, 232, 232);
}
.img__svg-cart {
  height: 30px;
}
