.productCard_container {
  margin: 0;
  padding: 2%;
  width: 100%;
}

.productCard_container > h2 {
  margin: 2em 0;
  color: white;
  text-align: center;
  font-size: 160%;
  font-weight: initial;
}

.productCard_wrapper {
  position: relative;
}

.sidebar {
  position: fixed;
  margin-right: 5px;
  font-size: 120%;
  top: 50%;
}

.product_cards_container {
  /* position: absolute; */
  margin-top: 50px;
  /* top: 0; */
  /* left: 12vw; */
  margin-left: 12vw;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  gap: 20px;
  justify-content: center;
}

.product_cards {
  margin: 0.5em 0;
}

.card_item {
  border: 0.5px solid rgba(0, 0, 0, 0);
  width: 300px;
  height: 100%;
  max-height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 1.5s, border 1s ease-in;
  font-size: 1.5em;
}

.card_item:hover {
  border: 0.5px solid grey;
  transition: all 1.5s, border 1s ease-in;
}

.card_item:hover .absolute {
  transition: all 1s ease-in-out;
  clip-path: inset(0 0 0 100%);
}

.card_item > img {
  width: 40%;
}

.card_item > .slide_wrapper {
  margin: 0.7em 0;
  transform: matrix3d(1, 0, 0, 0, 0, 1.2, 3, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  height: 3em;
}

.card_item_text {
  color: rgb(129, 241, 204);
  margin: 0.5em;
}

.card_item > button {
  margin: 1.5em 0;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0);
  color: aliceblue;
  padding: 1em 4rem;
  border-radius: 30px;
  border: 1px solid aliceblue;
  transition: border 1s ease-in, color 1s ease-in;
}

.card_item > button:hover {
  color: rgb(129, 241, 204);
  border: 1px solid rgb(129, 241, 204);
  transition: border 1s ease-in, color 1s ease-in;
}
.search_inp__block {
  height: 80px;
}

.search_inp {
  background-color: rgb(18 18 19);
  border: none;
  border-bottom: 2px white solid;
  color: white;
  font-size: 20px;
  width: 65%;
}
.search_inp:focus {
  border: none;
  border-bottom: 2px white solid;
  background: none;
  outline: none;
  transition: border 0.1s ease-in;
}
.search_inp::placeholder {
  color: aqua;
  cursor: text;
  top: 20px;
  font-size: 14px;
}

h3 {
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .productCard_container {
    padding-top: 100px;
  }
  .productCard_wrapper {
    display: flex;
    flex-direction: column;
  }
  .product_cards_container {
    left: auto;
    margin-left: 0;
    justify-content: center;
    width: 100%;
    margin-top: 60px;
  }
  
  .sidebar {
    position: relative; /* Fixed: was static but relative is safer for z-index */
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px 0;
    font-size: 100%;
  }
}

@media screen and (max-width: 768px) {
  .product_cards_container {
    left: auto;
    margin-left: 0;
    justify-content: center;
    width: 100%;
    margin-top: 80px;
  }

  .card_item {
    width: 90%; /* flexible width on mobile */
    max-width: 350px;
    margin: 10px auto;
  }

  .sidebar {
    position: relative;
    top: 0;
    margin: 0;
    padding: 10px;
    background: rgb(18, 18, 19);
    z-index: 10;
    width: 100%;
    transform: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .productCard_container > h2 {
     margin-top: 100px;
     font-size: 1.2rem;
  }
  
  .search_inp {
      width: 90%;
  }

  .product_cards {
      display: flex;
      justify-content: center;
      width: 100%;
  }
}
