*:focus {
  outline: none;
}

body {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Нестандартный стиль */
}

.itemScreen {
  display: flex;
  flex-direction: column;
  width: 2500vh;
  overflow: hidden;
  scroll-behavior: smooth;
  margin-bottom: 0px;
}

.itemListProduct {
  display: inline-flex;
  margin: 10px -25px;
  padding: 0;
}

.itemListProduct:nth-child(6n + 5) {
  margin-left: 200px;
}

.itemListProduct:nth-child(4) {
  display: none;
}

.itemProduct {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 336px;
  height: 360px;
  margin: 0 20px;

  font-size: 60px;
  color: #323232;
  z-index: 1;
}

.imgBlock {
  position: relative;
  display: inline-block;
}

.imgBlock img {
  transform: translate(125%);
  z-index: 10;
  display: inline-block;
  position: relative;
}

.imgBlock span {
  color: dimgrey;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;

  text-transform: uppercase;
  opacity: 30%;
  z-index: 1;
}

.imgBlock span:hover {
  opacity: 100%;
}

.active span {
  color: aqua;
}

.imgBlock a {
  font-size: 20px;
  text-align: center;
  margin-left: 23px;
  padding-top: 20px;
  position: absolute;
  bottom: -20px;
  text-decoration: none;
  color: aqua;
}
