* {
  box-sizing: content-box;
}

.itemScreen {
  display: flex;
  flex-direction: column;
  width: 1075vh;
  overflow: hidden;
  scroll-behavior: smooth;
  margin-bottom: 0px;
}

ul {
  display: inline-flex;
  margin: 10px -25px;
  padding: 0;
}

ul:nth-child(6n + 5) {
  margin-left: 200px;
}

ul:nth-child(4) {
  display: none;
}

li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 336px;
  height: 360px;
  margin: 0 20px;

  font-size: 60px;
  color: #323232;
  z-index: 1;
}

.imgBlock {
  position: relative;
  display: inline-block;
}

.imgBlock img {
  transform: translate(125%);
  z-index: 10;
  display: inline-block;
  position: relative;
}

.imgBlock span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;

  text-transform: uppercase;
  opacity: 30%;
  z-index: 1;
}

.imgBlock span:hover {
  opacity: 100%;
}

.active span{
  color: aqua;
}

