.navbar {
  width: 100%;
  height: 85px;
  display: flex;
  padding-top: 1%;
  align-items: flex-start;
  z-index: 100;
  position: fixed;
  background-color: transparent;
  transition: transform 0.3s ease;
  transform: translateY(0);
}
.navbar:hover {
  background-color: rgb(18 18 19);
  transition: background-color 1s ease-in-out;
}
.navbar.show {
  transform: translateY(0);
}

.nav_aboutUs {
  margin: 1% 1%;
  display: flex;
  cursor: pointer;
}

.navbar.hide {
  transform: translateY(-100%);
}
.nav_logo__villa {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 110px;
  height: 65px;
  cursor: pointer;
}
.nav_left__side {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}
.nav_left__glass {
  width: 80px;
  height: 40px;
  cursor: pointer;
}
.nav_left__bottle {
  width: 80px;
  height: 40px;
  cursor: pointer;
}
.nav_right__btn {
  border-radius: 50%;
  background-color: rgb(18 18 19);
  color: white;
  font-size: 10px;
  padding: 10px;
  margin-right: 20px;
  border: 1px solid white;
  background: transparent;
}
.nav_right__btn:hover {
  transition: border 0.6s ease-in-out;
  border: 1px solid aqua;
}

.nav_left__side {
  display: flex;
  align-items: center;
}

.nav_right_img {
  width: 20px;
  height: 20px;
}

.nav_right__bottle {
  cursor: pointer;
}

.nav_right__side {
  margin: 0 0 auto auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#btn__nav {
  border: none;
}

/* !adaptive */
nav {
  margin: 1em auto;
  z-index: 1;
  display: none;
  width: 100%;
}

.nav_burgerList {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
  nav {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  .navbar {
    display: none;
  }

  .nav_burgerList {
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: space-around;
  }
  
  .nav_logo {
    position: relative;
    width: 60px;
    height: 40px;
    margin-left: 10px;
  }

  .nav_logo__villa {
    width: 100%;
    height: 100%;
    position: static;
  }

  .nav_burger {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .nav_burgerList {
    display: flex;
    gap: 15px;
    margin-right: 15px;
  }
  
  .nav_burgerList_item {
    font-size: 14px;
  }

  .nav_right__bottle {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
}
