body {
  background-color: rgb(18 18 19);
  color: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#font_nanum{
  font-family: 'Nanum Myeongjo', serif;
}

#font_pathway{
  font-family: 'Pathway Extreme', sans-serif;
}